Debug/
Release/
x64/
SFML/
*.dll
*.lib             
*.exe             
*.pdb              
*.obj             
*.user            
.vs/              
mini_hw_1/*.dll
mini_hw_1/*.lib
mini_hw_2/*.dll
mini_hw_2/*.lib
Vec3LibTest/*.exe
audio/
fonts/
*.sln