# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

mini_hw_3/mini_hw_3/.vs/mini_hw_3/FileContentIndex/71a1f4ba-8fb7-41e6-994a-8cdb1089fa48.vsidx
/mini_hw_3
*.tlog
*.idb
*.ipdb
