# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Linker / debug files
*.ilk
*.pdb
*.idb
*.log
*.tlog
*.vsidx
*.VC.db
*.recipe
*.suo
*.wsuo
*.user

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Visual Studio / VS Code
**/.vs/
**/.vscode/

# Build folders
**/x64/
**/Debug/
**/Release/

# Optional: if you do not want to commit copied SFML package
**/SFML-3.0.2/